<div #chatContainer id="chatContainer" class="relative flex-1 overflow-y-auto custom-scrollbar scroll-smooth">
  <div class="flex flex-col gap-y-8 w-full min-h-full px-4 py-3">
    @for (chatMessageGroup of chatMessagesGroups; track $index) {
    <moon-message-group [chatMessageGroup]="chatMessageGroup"
      [isMirrored]="isMyMessage(chatMessageGroup.sender.nickname)"></moon-message-group>
    }
  </div>

  @if (!joinedInChat) {
  <div
    class="absolute bottom-0 left-0 right-0 w-full h-full p-12 flex justify-center items-end bg-gradient-to-t from-purple-800 to-transparent to-95%">
    <button type="button"
      class="text-white bg-gradient-to-r from-purple-600 via-purple-700 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-500 shadow-lg shadow-purple-800/80 rounded-lg px-6 py-3.5 text-base font-semibold text-center"
      (click)="onJoinChatClicked()">Join Chat</button>
  </div>
  }
</div>
